<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDir" value="./log/${date:format=yyyy-MM-dd}"/>

  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target
      name="consoleLog"
      xsi:type="Console"
      layout="${shortLayout}" />
 
    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/short.log"
      layout="${commonLayout}" />
 
    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${detailedLayout}" />
 
    <target
      name="systemLog"
      xsi:type="EventLog"
      layout="${detailedLayout}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!-- Основные log -->
    <logger name="*" minlevel="Trace" writeTo="fullLog" />   
    <logger name="*" minlevel="Info" writeTo="shortLog" />
 
    <!-- Вспомогательные log -->
    <logger name="*" minlevel="Info" writeTo="consoleLog" />
    <logger name="*" minlevel="Info" writeTo="systemLog"/>
  </rules>
</nlog>
